<div id="header">
	<div id="buildTitle">
		<h1>Xuka Build Web Tool for <%= cfg.build_project_title %></h1>
	</div>
	<div id="topMenu">
		<div class="TopMenuItem"><a href="dashboard">Dashboard</a></div>
		<div class="TopMenuItem"><a href="logout">Logout</a></div>
	</div>
</div>