<html>

<head>
	<title>Xuka Build Web Tool</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="stylesheet" type="text/css" href="css/build.css">
	<script type="text/javascript">
		var _XUKA_ = {
			url: {
				build: '<%= cfg.build_app_domain_protocol + cfg.build_app_domain + ":" + cfg.build_app_port %>'	
			},
			csrftoken: "<%= csrftoken %>",
			title: '<%= cfg.build_project_title %>'
		};
		
	</script>
	<script src="/js/build.js"></script>
</head>

<body>
	<div id="main">
		
		<% include header %>
		<div class="Clr"></div>
		
		<div id="leftArea">
			<% include menu %>
		</div>
		
		<div id="rightArea">
			<%- body %>
		</div>
		<div class="Clr"></div>
		
		<% include footer %>
	</div>
</body>

</html>