<html>
	<head>
		<title>Xuka Build Web Tool</title>
		<link rel="stylesheet" type="text/css" href="css/base.css">
		<link rel="stylesheet" type="text/css" href="css/build.css">		
	</head>
	<body>
		<div id="header">
			<h1 class="margin_left20">Xuka Build Web Tool Login</h1>
		</div>
		<div class="clr"></div>
		<div id="contentArea">
			<div>For project: <%= cfg.build_project_title %></div>
			<div class="Red"><%= error %></div>
			<form action="/login"  method="post" >
				<input type="hidden" name="_csrf" value="<%= csrftoken %>" />
				<div>Login Name: <input type="text" id="name" name="name"/></div>
				<div>Password: <input type="password" id="password" name="password"/></div>
				<div><input type="submit" /></div>
			</form>
			
		</div>
		<div class="clr"></div>
		
		
		<% include footer %>
	</body>
	
</html>