<html>
	
	<body>
		<h1>Xuka Build Web Tool Login</h1>
		<div>For project: <%= site.title %></div>
		<div class="Red"><%= error %></div>
		<form action="/login"  method="post" >
			<input type="hidden" name="_csrf" value="<%= csrftoken %>" />
			<div>Login Name: <input type="text" id="name" name="name"/></div>
			<div>Password: <input type="password" id="password" name="password"/></div>
			<div><input type="submit" /></div>
		</form>
		
		
	</body>
	
</html>