<div id="project_info">
	<div>
	<% include controls %>
	</div>
	<div>
		<div><span>Project Name: </span><span id="project_info-name"></span></div>
		<div><span>Build File Root Path: </span><span id="project_info-build_file_root_path"></span></div>
		<div><span>Build File Name: </span><span id="project_info-build_file_name"></span></div>
		
	</div>
	<div>
		<div>Build History</div>
		<!-- history begin -->
		
		<!-- history end -->
	</div>
</div>