<% layout('layout') -%>
<div id="log">
	<div id="contentArea">
		<h2>Log</h2>
		<div>
			<!-- content -->
			<div>
				List of log files:
				<select size="10">
					<option>SELECT ONE</option>
				</select>
			</div>
			<div id="logContentArea">
				Testing.
				
			</div>
			
		</div>
	</div>
</div>