<% layout('layout') -%>
<div id="log">
	<div id="contentArea">
		<h2>Log</h2>
		<div>
			<!-- content -->
			<div>
				<span style="vertical-align:top; font-weight:bold;">List of log files:</span>
				<select id="select_log" size="10">
					<option>SELECT ONE</option>
					<% for(var i=0; i<data.allLogs.length; i++ ) { %>
						<option value="<%= data.allLogs[i]%>"><%= data.allLogs[i] %></option>
					<% } %>
				</select>
			</div>
			<div class="height5"><hr style="min-width:500px;" /></div>
			<div id="logContentArea">
				<textarea id="logContentTextArea" cols="100"  rows="30"></textarea>
				
				
			</div>
			
		</div>
	</div>
</div>