<% layout('layout') -%>
<div id="log">
	<div id="contentArea">
		<h2>Log</h2>
		<div>
			<!-- content -->
			<div>
				<span style="vertical-align:text-top"><h2>List of log files:</h2></span>
				<select size="10">
					<option>SELECT ONE</option>
				</select>
			</div>
			<div id="logContentArea">
				Testing.
				
			</div>
			
		</div>
	</div>
</div>