<% layout('layout') -%>
<div id="config">
	<div id="contentArea">
		<h2>Configuration</h2>
		<div>
			<!-- content -->
			<h3>Config Variables: </h3>
			
			<div class="ConfigBox"></div>
			
			<div class="height10"></div>
			<h3>Shell Script: </h3>
			<div class="ConfigBox"></div>
		</div>
	</div>
</div>