
body{
	margin:0 auto;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
}

.height5 {	height: 5px; }
.height10 {	height: 10px; }
.height15 {	height: 15px; }
.height20 {	height: 20px; }

.margin_left5 {margin-left:5px;}
.margin_left10 {margin-left:10px;}
.margin_left15 {margin-left:15px;}
.margin_left20 {margin-left:20px;}

.left {float:left;}
.right {float:right;}

.clr, .clear, .Clr, .Clear {clear:both;}

.red {color:red;}
.blue {color:blue;}

h1 { font-size:18px; font-weight:bold;}
h2 { font-size:16px; font-weight:bold;}
h3 { font-size:14px; font-weight:bold;}




