
#header {
	width:100%;
	height:35px;
	background:#8BC84B;
}

#footer {
	height:30px;
	position:absolute; bottom:0;
	padding:2px;
	margin-left:20px;
}


#buildTitle {
	margin-left:20px;
	margin-top:-5px;
	color:white;
	float:left;
}
#topMenu {
	padding:2px;
	margin-top:5px;
	margin-right:10px;
	font-weight:normal;
	float:right;
}

.TopMenuItem {
	min-width:100px;
	float:left;
}

#contentArea {
	margin-top:10px;
	margin-left:10px;
}
